
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    max-width: 1024px;
    margin: 0 auto;
}
.flexHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    flex-wrap: wrap;
    
}

header{
    background-color: #016EB6;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding-right: 10px;
}

header a :hover{
    color: #154564;
}

header img{
    width: 150px;
}

nav{
    display: flex;
    gap: 24px;
    align-items: center;
}
button{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: white;
    font-family: Montserrat;
}
.button :hover{
    background-color: #021929;
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-color: white;
}

body{
    font-family: Montserrat;
}

h2{
    padding-top: 50px;
    text-align: center;
}



.articleFlex{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 30px;
}
.articleFlex article{
    
    border-radius: 20px;
    max-width: 360px;
    box-shadow:  5px 5px 8px #aaaaaa,
             -5px -5px 11px #ffffff;
}

.articleFlex article img{
    max-width: 100%;
 
}

.articleFlex img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; 
}

.articleText{
    padding: 15px 20px 30px 20px;
}


footer{
    background-color: #016EB6;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

footer h4{
    text-align: center;
    font-weight: 600;
}

.flexFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.menuFooter{
    display: flex;
    flex-direction: column;
    gap: 5px;  
}

.menuFooter a{
    text-decoration: none;
    color: white;
}

.menuFooter a :hover{
    color: #154564;
}

.copy{
    text-align: center;
}

.imageFlex{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.imageFlex img{
    width: 150px;
}
